<%= stylesheet_link_tag "videoviewer.css.scss" %>
<script type="text/javascript" src="http://github.com/jashkenas/coffee-script/raw/master/extras/coffee-script.js"></script>
<div class="pier2pier">
<%=image_tag("pier2pier-logo.png", alt: "Pier2Pier", size: "286x83")%>
</div>
<div id="vidcontainer">Loading the player...</div>
<div class="vidcontrols">
<%= link_to image_tag("arrow_up.png", alt: "go up", size: "41x68"), '/pier/up', id: "move_up", class: 'move_up', :remote => true, method: :post %>
<br>
<%= link_to image_tag("arrow_up.png", alt: "go down", size: "41x68", :class => "flipped"), 'pier/down', :id => "move_down", :remote => true %>
</div>

<div class="piccontainer">
</div>

<div class="loccontainer">
</div>

<script type="text/javascript">
    jwplayer("vidcontainer").setup({
        playlist: [{
            sources: [{
                file: "rtmp://129.65.153.151:1935/live/teststream"
            }]
        }],
        primary: "flash",
        width: "600",
        height: "480"
    });
</script>
