<%= stylesheet_link_tag "videoviewer.css.scss" %>
<div class="pier2pier">
<%=image_tag("pier2pier-logo.png", alt: "Pier2Pier", size: "286x83")%>
</div>
<div id="myElement-teststream">Loading the player...</div>

<div class="vidcontrols">
</div>

<div class="piccontainer">
</div>

<div class="loccontainer">
</div>

<script type="text/javascript">
    jwplayer("myElement-teststream").setup({
        playlist: [{
            sources: [{
                file: "rtmp://129.65.153.151:1935/live/teststream"
            }]
        }],
        height: 400,
        primary: "flash",
        width: 600
    });
</script>
