// Place all the styles related to the videoviewer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    background: #0081f8;
    color: white; 
}

.pier2pier {
    width: 700px;
    height: 160px;
    border-radius: 5px;
    padding: 5px;
    background: #005c9e;
    position: absolute;
    right: 30px;
    top: 8px;
    align: center;
}

div.pier2pier>form {
    position: absolute;
    right: 20px;
    top: 20px;
}

div.pier2pier>img {
    padding-left: 20px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.vidcontainer {
    width: 605px;
    height: 485px;
    padding: 1em;
    background: #888888;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.wrapperdiv {
    width: 650px;
    height: 530px;
    padding: 1em;
    background: #888888;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}


.container {
    width: 700px;
    height: 190px;
    padding: 1em;
    background: #888888; 
    left: 0px;
    top: 0px;
    visibility: hidden;
}

.vidcontrols {
    border-radius: 5px;
    width: 600px;
    height: 230px;
    overflow: auto;
    padding: 0em;
    background: #005cf8;
    /*
    006df8
    */
    margin: auto;
    position: absolute;
    left: 8px;
    top: 490px;
}

div.vidcontrols>table {
    vertical-align: middle;
}

.piccontainer {
    border-radius: 5px;
    width: 310px;
    height: 250px;
    overflow: auto;
    padding: 1em;
    background: #005c9e;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 440px;

}

div.piccontainer>td { 
    padding: 10px;
}

div.piccontainer>table { 
    margin: 0 auto;
}

.loccontainer {
    border-radius: 5px;
    width: 310px;
    height: 250px;
    overflow: auto;
    padding: 1em;
    background: #005c9e;
    margin: auto;
    position: absolute;
    right: 400px;
    top: 440px;

}

div.loccontainer>td { 
    padding: 10px;
}

div.loccontainer>table { 
    margin: 0 auto;
}

.blurb {
    border-radius: 5px;
    width: 678px;
    height: 200px;
    padding: 1em;
    overflow: auto;
    background: #005c9e;
    position: absolute;
    top: 190px;
    right:30px;
}

div.blurb>img {
    float: left;
    padding: 10px;


}

.flipped {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
    top: 1px; position: relative;
}
